<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25C56</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Encounter+</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>module-320.png</string>
				<string>module-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Module File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sk.qbit.tracker.module</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>campaign-320.png</string>
				<string>campaign-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Campaign File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sk.qbit.tracker.campaign</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>compendium-320.png</string>
				<string>compendium-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compendium File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sk.qbit.tracker.compendium</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>pack-320.png</string>
				<string>pack-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pack File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sk.qbit.tracker.pack</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>pack-320.png</string>
				<string>pack-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>System File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>sk.qbit.tracker.system</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>dungeondraft-64.png</string>
				<string>dungeondraft-320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dd2vtt File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dungeondraft.dd2vtt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZIP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>EncounterPlus Beta</string>
	<key>CFBundleIconFile</key>
	<string>AppIconBeta</string>
	<key>CFBundleIconName</key>
	<string>AppIconBeta</string>
	<key>CFBundleIdentifier</key>
	<string>sk.qbit.tracker.beta</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EncounterPlus Beta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>sk.qbit.tracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>encounterplus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3968</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C57</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C57</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2620</string>
	<key>DTXcodeBuild</key>
	<string>17C52</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>15.6</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Used to pick images for creatures</string>
	<key>NSCameraUsageDescription</key>
	<string>Used to create images for creatures</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used in web view pages</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to save creature images</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to pick images for creatures</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.sk.qbit.tracker</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>EncounterPlus</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Game-Icons.ttf</string>
		<string>Verveine.otf</string>
		<string>Luna.ttf</string>
		<string>Roman.ttf</string>
		<string>HoeflerText.ttc</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>EncounterPlus_Beta.SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>ExternalScreen</string>
					<key>UISceneDelegateClassName</key>
					<string>EncounterPlus_Beta.ExternalSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Library</string>
					<key>UISceneDelegateClassName</key>
					<string>EncounterPlus_Beta.LibrarySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Module File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>module-64.png</string>
				<string>module-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>sk.qbit.tracker.module</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>module</string>
				<key>public.mime-type</key>
				<string>application/x-module</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Campaign File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>campaign-64.png</string>
				<string>campaign-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>sk.qbit.tracker.campaign</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>campaign</string>
				<key>public.mime-type</key>
				<string>application/x-campaign</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compendium File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>compendium-64.png</string>
				<string>compendium-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>sk.qbit.tracker.compendium</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>compendium</string>
				<key>public.mime-type</key>
				<string>application/x-compendium</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pack File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>pack-64.png</string>
				<string>pack-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>sk.qbit.tracker.pack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>pack</string>
				<key>public.mime-type</key>
				<string>application/x-pack</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>System File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>pack-64.png</string>
				<string>pack-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>sk.qbit.tracker.system</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>system</string>
				<key>public.mime-type</key>
				<string>application/x-system</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DungeonDraft VTT Export</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>dungeondraft-64.png</string>
				<string>dungeondraft-320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>dungeondraft.dd2vtt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dd2vtt</string>
				<key>public.mime-type</key>
				<string>application/x-dd2vtt</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
